
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
body {
    /* feel free to update these css variables for a quick theme */
    
    --color1: white;
    --color2: white;
    --color3: white;
    --color4: white;
    --color5: white;
    
    /* https://coolors.co/generate and click export -> scss to get the colors to copy and paste below*/
        
    /* --color1: hsla(349, 69%, 76%, 1);
    --color2: hsla(207, 67%, 44%, 1);
    --color3: hsla(200, 61%, 56%, 1);
    --color4: hsla(187, 41%, 94%, 1);
    --color5: hsla(170, 28%, 95%, 1); */

    /* --color1: hsla(45, 86%, 83%, 1);
    --color2: hsla(135, 65%, 98%, 1);
    --color3: hsla(315, 37%, 86%, 1);
    --color4: hsla(45, 73%, 98%, 1);
    --color5: hsla(224, 40%, 79%, 1); */
    
    --header-height: 80px;
    --shadow: 0px 10px 20px -12px rgba(0,0,0,0.45);
    --gutter: 30px;
    --footer-height: 25px;
    
    font-family: 'Titillium Web', sans-serif;
    background-color: var(--color2);
    background: linear-gradient(70deg, maroon 50%, steelblue 40%);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: calc(var(--footer-height));
}

.main-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
}

#welcome{
    color: white;
    font-family: prata, sans-serif;
    font-size: 2rem;
    border-bottom: white 4px double;
    padding-top: 50px;
}

#top-row-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    justify-content: flex-end;
    background-color: rgb(43, 43, 117);
    height: var(--header-height);
    box-shadow: 10px 10px 20px -10px rgb(177, 4, 4);
    color: white;
    font-family: prata, sans-serif;
    padding-right: 50px;
}


h2 {
    font-size: 1.8rem;
    font-weight: bold;
}

.gutter-right {
    margin-right: 20px;
}

p {
    margin: var(--gutter);
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: var(--footer-height);
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    box-shadow: var(--shadow);
}

#sign-up-container {
    display: flex;
    align-items: center;
    justify-content: left;
    /* border: black solid 3px; */
    margin-right: 100px;
    height: 90%;
    width: 100%;
    padding: 10px;
}

#sign-up-form p{
    margin: 0 auto;
    font-family: prata, sans-serif;
}

#sign-up-form input{
    height: 25px;
    width: 100%;
    border-radius: 5px;
}

#sign-up-form button{
    margin: 10px;
    font-size: 25px;
    border-radius: 5px;
}

#sign-in-container{
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: black solid 3px; */
    margin-left: 50px;
    height: 90%;
    width: 90%;
    padding: 10px;
}

#sign-in-form p{
    margin: 0 auto;
    font-family: prata, sans-serif;
}

#sign-in-form input{
    height: 25px;
    width: 100%;
    border-radius: 5px;
}

#sign-in-form button{
    margin: 10px;
    font-size: 25px;
    border-radius: 5px;
}

#logout-button{
    height: 30px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    background-color: maroon;
    color: white;
    font-size: 1.5em;
}

#user-form{
    display: grid;
    grid-template-rows: 1fr 1fr;
}

#user-form div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#option-div{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.current-poll{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border: 3px white double;
    height: 200px;
    width: 300px;
    margin: 10px;
    padding: 10px;
}

#option-1-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 50px;
    width: 50px;
}

#option-2-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#past-polls-display{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    column-span: all;
    margin: 50px 10px 0px 50px;
}
